<!DOCTYPE html>
<html>
    <head>
        <title>海飞丝实力音乐侦探</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="apple-touch-fullscreen" content="no"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
        <meta name="format-detection" content="telephone=no"/>
        <link rel="stylesheet" href="css/base.css" />
        <link rel="stylesheet" href="css/next.css" />
    </head>
    <body>
    <div class="hfs page next">
        <div class="content">
            <h1 class="schedule-one">第一季</h1>
            <h2>拨开云雾寻找答案</h2>
            <div class="main">
                <div class="board"></div>
                <div class="buttons">
                    <span>真想即将揭晓...</span>
                </div>
            </div>
            <div class="routes">
                <ul class="nav">
                    <li data-index="0">
                        <p>
                            <a>线索1</a>
                        </p>
                        <p class="state">（待解锁）</p>
                    </li>
                    <li data-index="1">
                        <p>
                            <a>线索2</a>
                        </p>
                        <p class="state">（待解锁）</p>
                    </li>
                    <li class="cur" data-index="2">
                        <p>
                            <a>线索3</a>
                        </p>
                        <p class="state">（已解锁）</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <body>
</html>
