<!DOCTYPE html>
<html>
<head>
    <title>海飞丝实力音乐侦探</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-touch-fullscreen" content="no"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/play.css" />
    <link rel="stylesheet" href="css/dialog.css" />
</head>
<body>
<style>
    canvas{border:none !important;}
</style>
<script>
    var date = +new Date;


    window.hfs_data=[

        {
            opentime: date+2000,
            type: "mp3",
            source: "./data/a.mp3"
        },
        {
            opentime: date - 100,
            type: "image",
            source: "http://www.th7.cn/d/file/p/2013/01/09/1a140b3585094d10a038aa974e0d6d58.jpg"
        },
        {
            opentime: date + 4000,
            type: "image",
            source: "http://www.th7.cn/d/file/p/2013/01/09/1a140b3585094d10a038aa974e0d6d58.jpg"
        }
    ]
</script>
<div class="page play">

    <h1 class="schedule-one">第一季</h1>
    <h2>拨开云雾寻找答案</h2>


    <div class="play_container">
        <div class="play_cloud"></div>

        <div class="play_board"></div>

        <div class="play_timer">
            <h3>距离下一条线索还有</h3>
            <div class="play_timers">
                <span>
                    <b>3</b><b>3</b>
                </span>
                :
                <span>
                    <b>3</b><b>2</b>
                </span>
                :
                <span>
                    <b>2</b><b>2</b>
                </span>
            </div>
        </div>
        <div class="play_button">
            <a class="real">写出真相</a>
        </div>
    </div>

    <ul class="play_tab">
        <li class="cur" data-index="0">
            <p>
                <a>线索1</a>
            </p>
            <p class="state">（待解锁）</p>
        </li>
        <li data-index="1">
            <p>
                <a>线索2</a>
            </p>
            <p class="state">（待解锁）</p>
        </li>
        <li data-index="2">
            <p>
                <a>线索3</a>
            </p>
            <p class="state">（待解锁）</p>
        </li>
    </ul>

    <script src="./js/zepto.js" type="text/javascript"></script>
    <script src="./js/doT.js" type="text/javascript"></script>
    <script src="./js/dialog.js" type="text/javascript"></script>
    <script src="./js/ctrl.js" type="text/javascript"></script>
</div>
<body>
