.page {
    width: 320px;
    height: 100%;
    background: url(../img/tutorial-bg.png) #024397 no-repeat;
    background-size: 320px 480px;
    margin: 0 auto;
}


.page .content {
    position: relative; 
}

.page .content .title {
    position: absolute;
    left: 125px;
    top: 50px;
    color: #fff;
    font-weight: 700;
}

.page .content .main {
    background: #e4f5fd;
    position: absolute;
    top: 78px;
    margin: 0 5px;
    padding: 15px 0;
}

.page .content .main section:not(.prize) {
    color: #002e73;
}

.page .content .main section:not(.prize) p {
    font-size: 12px;
    transform: scale(0.92);
}

.page .content .main .prize {
    padding: 10px;
}

.page .content .main .prize .pic,
.page .content .main .prize .name {
    float: left;
}

.page .content .main .prize .name {
    padding-left: 8px;
}

.page .content .main .prize .pic img {
    width: 62px;
    height: 62px;
}

.page .content .main .prize {
    position: relative;
}

.page .content .main .prize:before {
   content: '';  
   position: absolute;
   border-top: 1px solid #002e73;
   width: 290px;
   top: 6px;
}

.page .content .main .prize:after {
   content: '';  
   position: absolute;
   border-top: 1px solid #002e73;
   width: 290px;
   bottom: 10px;
}

.page .content .main .prize h3 {
    font-size: 12px; 
    color: #1d2088;
    font-weight: 700;
}

.page .content .main .prize ul {
    padding: 5px 0;
}

.page .content .main .prize .item {
    height: 68px; 
}

.page .content .main .prize .name li {
    list-style-position: inside;
    list-style-type: disc;
    color: #1d2088;
    width: 185px;
    overflow: hidden;
    width: 215px;
    white-space: nowrap;
    font-size: 12px;
    transform: scale(0.92);
}
